[submodule "data-prepare"]
	path = data-prepare
	url = https://github.com/MColombari/data-prepare.git
[submodule "DAN"]
	path = DAN
	url = https://github.com/yaoing/DAN.git
[submodule "Depth-Anything"]
	path = Depth-Anything
	url = https://github.com/LiheYoung/Depth-Anything.git
